.navContainer {
    justify-content: center;
    display: flex;
    width: 100%;
    position: sticky;
    top: 0px;
    z-index: 1000;
    background-color: black;
}

.navbarComponent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1.5px transparent var(--text-color);
    width: 50%;
    padding: 10px;
    height: 30px;
    margin-top: 30px;
    background-color: black;
}

.deedwiseTitle {
    color: var(--text-color);
    font-size: 30px;
    font-weight: 900;
    text-align: center;
}

.mainNavComponent {
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: center;
}

.mainNav {
    color: var(--text-color);
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
}

.authNav {
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    background-color: var(--text-color);
    border-radius: 25px;
    padding: 7px 15px 7px 15px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    border: none;
}

.authNav:hover {
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.6);
    transform: scale(1.02);
    transition: all 0.3s ease;
}

.activeNav {
    background-color: black;
    color: var(--text-color);
    font-weight: 700;
    box-shadow: 0 0 7px rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    padding: 7px 15px 7px 15px;
}